<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
		<title>电梯实时监测平台</title>
		<link rel="stylesheet" type="text/css" href="websource/monitor_platform_css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="websource/css/style.css"/>
		<link rel="stylesheet" href="websource/monitor_platform_css/style.css">
		<link rel="stylesheet" type="text/css" href="websource/css/mask.css">
		<style type="text/css">
            html{height: calc(100% - 139px)}
			body{height: 100%;}
			#logo{margin-top: 20px;}
			.mask{position: fixed;top:0;left:0;width: 100%;height: 100%;background-color: white;z-index: 9999;}
			.layui-nav .layui-nav-item a{color: white;font-size: 16px}
			.layui-main>div{float: left}
			.layui-main::after{
				content: '';
				clear: both;
			}
            .footer{display: flex;bottom: 0;left: 0;background-color: white;color: black;}
			.layui-tab-item{
				height: 100%;
			}
		</style>
	</head>
	<body>
	<div class="layui-header ">
		<div class="layui-main">
			<div class="layui-col-md3  logo_box">
				<a href="contingency.html"  target="content_iframe" title="点击进入首页"><img src="websource/img/monitor_platform/logo/logo.png" class="logo" id="logo"/></a>
			</div>
			<div class="" style="width: 950px">
				<ul class="layui-nav "  id="menus" lay-filter="menus">
					<li v-for="(menus,index) in menus" class="layui-nav-item"  @mouseleave="hideC">
						<a href="javascript:;" :id="menus.id"  v-text="menus.text" class="setChild" @mouseenter="showC(index)" ></a>
						<dl :class="'layui-nav-child layui-anim layui-anim-upbit '+(isIndex == index?'layui-show':'')" v-if="menus.children.length != 0" > <!-- 二级菜单 -->
							<dd v-for="(child,indexs) in menus.children" @mouseenter="childItem(indexs)">
								<a href="javascript:;" :id="child.id"><span v-text="child.text"></span> <i  v-if="child.children.length != 0" :class="'layui-icon '+ (indexs == childIndex?'layui-icon-triangle-r':'layui-icon-triangle-d')"></i></a>
								<ul class="threeNav" v-if="child.children.length != 0" v-show="indexs == childIndex">
									<li v-for="threeNavItem in child.children"><a href="javascript:;" :id="threeNavItem.id" v-text="threeNavItem.text"></a></li>
								</ul>
							</dd>
						</dl>
					</li>
				</ul>
				<ul class="layui-nav layui-layout-right" id="login_info">
					<li class="layui-nav-item" style="width: 150px" id="logined">
						<a href="javascript:;">
							<img src="http://t.cn/RCzsdCq" class="layui-nav-img">
							<span id="user_name" style="color: white"></span>
						</a>
						<dl class="layui-nav-child">
							<dd><a  id="logout">注销</a></dd>
						</dl>
					</li>
					<li class="layui-nav-item" style="width: 140px" id="login">
						<a style="text-align: center" onclick="window.location.replace('login2.html')">登录</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="layui-tab" style="margin: 0" lay-allowClose="true" lay-filter="tab">
		<ul class="layui-tab-title" >
			<li class="layui-this">首页</li>
		</ul>
		<div class="layui-tab-content" style="padding: 0">
			<div class="layui-tab-item layui-show">
				<iframe src="contingency.html" width="" height="80" class="main" scrolling="auto"  name="content_iframe"></iframe>
			</div>
		</div>
	</div>
	<div class="footer" >
		<div style="text-align: center;width: 100%">
			Copyright © 2014 - 2016 , All Rights Reserved.<br>
			浙ICP备15044039号-1 浙江云安达物联信息技术有限公司©版权所有
		</div>
	</div>
	<!--<div class="mask" id="mask">-->
		<!--<li data-id="5" style="position: relative;left: calc(50% - 50px);top: calc(45% - 50px);">-->
			<!--<div id="preloader5"></div>-->
			<!--<div style="margin-top: 50px;font-size: 18px;margin-left: -10px">正在加载....</div>-->
		<!--</li>-->
	<!--</div>-->
		<script src="websource/js/jquery-3.3.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="websource/js/monitor_platform_js/config.js"></script>
		<script type="text/javascript" src="websource/js/mask.min.js"></script>
		<script src="websource/js/vue.js"></script>
		<script src="websource/js/layui/layui.all.js" type="text/javascript"  charset="utf-8"></script>
		<script src="websource/js/public.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			layui.use(['element','form'], function(){
			  	var element = layui.element,form = layui.form;
                var user_name = getCookie("name");
				if(user_name){
				    $("#login").hide();
                    $("#logined").show();
                    $("#user_name").text(user_name);
				}else {
                    $("#login").show();
                    $("#logined").hide();
				};
                function siblings(elm) {
                    var a = [];
                    var p = elm.parentNode.children;
                    for(var i = 0,pl = p.length; i < pl; i++) {
                        if(p[i] !== elm) a.push(p[i]);
                    }
                    return a;
                };
				var menus = new Vue({
					el:"#menus",
					data:{
					    menus:menus_data,
                        current:null,
						isIndex:null,
						childIndex:null,
					},
					mounted:function () {

                    },
					updated:function () {
					    form.render();
					    layui.element.render()

                    },
					methods:{
						showC(index){
							this.$set(this.$data,'isIndex',index)
						},
                        hideC(e){
                            this.$set(this.$data,'isIndex',null)
						},
						childItem(index){
                            this.$set(this.$data,'childIndex',index)
						}
					}
				});
				element.on('nav(menus)',function (obj) {
					console.log(obj);
					var title = obj.context.innerText;
					var id = obj.context.getAttribute("id");
                    var tabs = $(".layui-tab-title li");
                    for(var j=0;j<tabs.length;j++){
                        if(tabs[j].getAttribute("lay-id") == id){
                            element.tabChange("tab", id);
                            return;
						};
                    }
					element.tabAdd('tab', {
                        title: title,
						content: '<iframe src="contingency.html" width="" height="80" class="main" scrolling="auto"  name="content_iframe"></iframe>',
						id: id
                    });
                    element.tabChange("tab", id);


					element.render()
                });

                element.on('tab(tab)',function (obj) {
					console.log(obj)
                });


            });

			var window_height = $(window).height();
			$(".layui-tab-content").css("height",window_height - 205);


			$("#logout").click(function () {
				$.ajax({
					url:"http://admincs.yunandawulian.com/appServer/logout",
					success:function (res) {
						if(res.success){
						    layer.alert("用户已注销")
							window.location.replace("login2.html")
						}else{
                            layer.alert(res.msg)
						}
                    }
				})
            });

			var date = new Date();
			var year = date.getFullYear(),
				month = date.getMonth(),
				day = date.getDate(),
				day_z = date.getDay();
			$("#_date").text(year+"年"+month+"月"+day+"号  星期"+day_z);
			$.ajax({
				url:"http://admincs.yunandawulian.com/appServer/Statics/getRecentAlarm",
				data:{

				},
				success:function (res) {
					console.log(res)
                }
			})



		</script>
	</body>
</html>
