<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>入网管理列表</title>
    <link rel="stylesheet" type="text/css" href="../websource/monitor_platform_css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="../websource/css/style.css"/>
    <link rel="stylesheet" href="../websource/monitor_platform_css/style.css">
    <link rel="stylesheet" type="text/css" href="../websource/css/mask.css">
    <style>
        .layui-form-item .layui-inline {
            margin-right: 0;
        }

        .layui-form-mid {
            padding: 0 !important;
        }
    </style>
</head>
<body>
<div class="layui-main">
    <div class="content">
        <form action="" class="layui-form" style="width: 800px;margin: 0 150px" id="elevator_form">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">电梯识别码</label>
                    <div class="layui-input-block" style="width: 245px">
                        <input type="text" name="elevCode" required lay-verify="required" placeholder="请输电梯识别码"
                               autocomplete="off" class="layui-input" :value="elevatorData.elevCode">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">注册码</label>
                    <div class="layui-input-block" style="width: 245px">
                        <input type="text" name="quickCode" required lay-verify="required" placeholder="请输注册码"
                               autocomplete="off" class="layui-input" :value="elevatorData.quickCode">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">联动选择框</label>
                <div class="layui-input-inline" style="width: 140px">
                    <select name="" id="province" lay-filter="province"></select>
                </div>
                <div class="layui-input-inline" style="width: 140px">
                    <select name="" id="city" lay-filter="city"></select>
                </div>
                <div class="layui-input-inline" style="width: 140px">
                    <select name="" id="district" lay-filter="district"></select>
                </div>
                <div class="layui-input-inline" style="width: 190px">
                    <input type="text" name="location" :value="elevatorData.location" required lay-verify="required" placeholder="请输入详细地址"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">地图标注</label>
                <div class="layui-input-block" style="width: 245px">
                    <div style="width: 500px;height: 450px;background: grey" id="map"></div>
                    <input type="text" name="longitude" :value="elevatorData.longitude" id="lng" placeholder="请输入经度" class="layui-input" style="display: none">
                    <input type="text" name="latitude" :value="elevatorData.latitude" id="lat" placeholder="请输入纬度" class="layui-input" style="display: none">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">维保类型</label>
                <div class="layui-input-block">
                    <select name="serviceType" lay-filter="province" id="serviceType">
                        <option>请选择维保类型</option>
                        <option value="1" :selected="elevatorData.serviceType == 1">原厂维保</option>
                        <option value="2" :selected="elevatorData.serviceType == 2">授权委托</option>
                        <option value="3" :selected="elevatorData.serviceType == 3">第三方维保</option>
                        <option value="4" :selected="elevatorData.serviceType == 4">使用单位维保</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">维保单位</label>
                <div class="layui-input-inline" style="width: 565px">
                    <input type="text" name="serviceCorpName" :value="elevatorData.serviceCorpName" id="serviceCorpName" lay-verify="required" placeholder="请输维保单位名称"
                           autocomplete="off" class="layui-input">
                    <input type="text" name="serviceCorpID" :value="elevatorData.serviceCorpID" id="serviceCorpNameID" lay-verify="required"
                           autocomplete="off" class="layui-input" style="display: none">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <button type="button" id="useServiceCorpName" class="layui-btn layui-btn-normal" dataType="2" onclick="useList(this)">选择</button>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">使用场所分类</label>
                    <div class="layui-input-block" style="width: 245px">
                        <select name="usePlace">
                            <option >请选择使用场所分类</option>
                            <option :selected="elevatorData.usePlace == '住宅'">住宅</option>
                            <option :selected="elevatorData.usePlace == '办公区域'">办公区域</option>
                            <option :selected="elevatorData.usePlace == '商场超市'">商场超市</option>
                            <option :selected="elevatorData.usePlace == '宾馆饭店'">宾馆饭店</option>
                            <option :selected="elevatorData.usePlace == '医院'">医院</option>
                            <option :selected="elevatorData.usePlace == '学校'">学校</option>
                            <option :selected="elevatorData.usePlace == '交通场所'">交通场所</option>
                            <option :selected="elevatorData.usePlace == '文体娱场馆'">文体娱场馆</option>
                            <option :selected="elevatorData.usePlace == '其他场所'">其他场所</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">维保有效期</label>
                    <div class="layui-input-block" style="width: 245px">
                        <input type="text" name="serviceExpiryTime" :value="elevatorData.serviceExpiryTime" id="validity_period" lay-verify="required"
                               placeholder="请选择维保有效期"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">维保负责人</label>
                    <div class="layui-input-block" style="width: 245px">
                        <input type="text" name="servicePerson" :value="elevatorData.servicePerson" required lay-verify="required" placeholder="请输维保负责人"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">负责人电话</label>
                    <div class="layui-input-block" style="width: 245px">
                        <input type="text" name="servicePersonPhone" :value="elevatorData.servicePersonPhone" required lay-verify="phone"
                               placeholder="请输负责人电话"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">电梯安全管理员</label>
                    <div class="layui-input-block" style="width: 245px">
                        <input type="text" name="safetyAdmin" :value="elevatorData.safetyAdmin" required lay-verify="required" placeholder="请输入电梯安全管理员"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">安全管理员电话</label>
                    <div class="layui-input-block" style="width: 245px">
                        <input type="text" name="safetyAdminPhone" :value="elevatorData.safetyAdminPhone" required lay-verify="phone"
                               placeholder="请输入安全管理员电话"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div id="extPhoneGroup">
                <div class="layui-form-item" v-for="(phone,index) in extPhone">
                    <label class="layui-form-label">额外推送号码</label>
                    <div class="layui-input-inline" style="width: 565px">
                        <input type="text" required lay-verify="phone"   placeholder="请输入额外推送号码"
                               autocomplete="off" class="layui-input" :value="phone">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <button v-if="index == 0" type="button" class="layui-btn layui-btn-normal" id="add_extPhone">添加</button>
                        <button v-else type="button" class="layui-btn layui-btn-danger" @click="deleteBnt">取消</button>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">使用单位</label>
                <div class="layui-input-inline" style="width: 565px">
                    <input type="text" name="useCorpName" id="useCorpName" :value="elevatorData.useCorpName" required lay-verify="required" placeholder="请输入使用单位名称"
                           autocomplete="off" class="layui-input">
                    <input type="text" name="useCorpID" id="useCorpNameID" :value="elevatorData.useCorpNameID"  placeholder="请输入使用单位名称"
                           autocomplete="off" class="layui-input" style="display: none">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <button type="button" class="layui-btn layui-btn-normal" dataType="1" onclick="useList(this)">选择</button>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">制造单位</label>
                <div class="layui-input-inline" style="width: 565px">
                    <input type="text" name="produceCorpName" id="produceCorpName" :value="elevatorData.produceCorpName"  required lay-verify="required" placeholder="请输入制造单位"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <button type="button" class="layui-btn layui-btn-normal" dataType="4" onclick="useList(this)">选择</button>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">使用单位内部编码</label>
                    <div class="layui-input-block" style="width: 245px">
                        <input type="text" name="internalCode" :value="elevatorData.internalCode" required lay-verify="required" placeholder="请输入使用单位内部编码"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">制造许可证编号</label>
                    <div class="layui-input-block" style="width: 245px">
                        <input type="text" name="produceCertNo" :value="elevatorData.produceCertNo" required lay-verify="required" placeholder="请输入制造许可证编号"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">电梯品牌</label>
                    <div class="layui-input-block" style="width: 245px">
                        <input type="text" name="elevBrand" :value="elevatorData.elevBrand" required lay-verify="required" placeholder="请输入电梯品牌"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">出厂编号</label>
                    <div class="layui-input-block" style="width: 245px">
                        <input type="text" name="produceSerialNo" :value="elevatorData.produceSerialNo" required lay-verify="required" placeholder="请输入出厂编号"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">电梯安装单位</label>
                <div class="layui-input-inline" style="width: 565px">
                    <input type="text" name="installCorpName" :value="elevatorData.installCorpName" id="installCorpName" required lay-verify="required" placeholder="请输入电梯安装单位"
                           autocomplete="off" class="layui-input">
                    <input type="text" name="installCorpID" id="installCorpNameID" :value="elevatorData.installCorpNameID" autocomplete="off" class="layui-input" style="display: none">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <button type="button" class="layui-btn layui-btn-normal" dataType="8" onclick="useList(this)">选择</button>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">大修或改造日期</label>
                    <div class="layui-input-block" style="width: 245px">
                        <input type="text" name="reformTime" :value="elevatorData.reformTime" id="reformTime" lay-verify="required"
                               placeholder="请输入大修或改造日期"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">年检日期</label>
                    <div class="layui-input-block" style="width: 245px">
                        <input type="text" name="inspectTime" :value="elevatorData.inspectTime" id="inspectTime" required lay-verify="required"
                               placeholder="请输入年检日期"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">维保日期</label>
                    <div class="layui-input-block" style="width: 245px">
                        <input type="text" name="serviceTime" :value="elevatorData.serviceTime" id="serviceTime" lay-verify="required"
                               placeholder="请输入安全管理员电话"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">电梯类型</label>
                    <div class="layui-input-block" style="width: 245px">
                        <select name="elevType" lay-filter="province">
                            <option value="">请选择电梯类型</option>
                            <option :selected="elevatorData.elevType == '乘客电梯'">乘客电梯</option>
                            <option :selected="elevatorData.elevType == '自动扶梯'">自动扶梯</option>
                            <option :selected="elevatorData.elevType == '自动人行道'">自动人行道</option>
                            <option :selected="elevatorData.elevType == '病床电梯'">病床电梯</option>
                            <option :selected="elevatorData.elevType == '客货电梯'">客货电梯</option>
                            <option :selected="elevatorData.elevType == '载货电梯'">载货电梯</option>
                            <option :selected="elevatorData.elevType == '杂物电梯'">杂物电梯</option>

                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">电梯型号</label>
                    <div class="layui-input-block" style="width: 245px">
                        <input type="text" name="elevModel" :value="elevatorData.elevModel" required lay-verify="required" placeholder="请输入电梯层数"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">电梯层数</label>
                    <div class="layui-input-block" style="width: 245px">
                        <input type="text" name="floors" :value="elevatorData.floors" required lay-verify="number" placeholder="请输入安全管理员电话"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">电梯站数</label>
                    <div class="layui-input-block" style="width: 245px">
                        <input type="text" name="station" :value="elevatorData.station" required lay-verify="number" placeholder="请输入电梯门数"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">电梯层站编号</label>
                    <div class="layui-input-block" style="width: 245px">
                        <input type="text" name="floorsStationSn" :value="elevatorData.floorsStationSn" required lay-verify="required" placeholder="请输入电梯层站编号"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">电梯门数</label>
                    <div class="layui-input-block" style="width: 245px">
                        <input type="text" name="door" :value="elevatorData.door" required lay-verify="required" placeholder="请输入额定速度"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">额定速度</label>
                    <div class="layui-input-block" style="width: 245px">
                        <input type="text" name="speed" :value="elevatorData.speed" required lay-verify="required" placeholder="请输入载重量"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">载重量</label>
                    <div class="layui-input-block" style="width: 245px">
                        <input type="text" name="weight" :value="elevatorData.weight" required lay-verify="required" placeholder="请输入电梯检验机构"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">拖动方式</label>
                    <div class="layui-input-block" style="width: 245px">
                        <select name="dragType">
                            <option >请选择拖动方式</option>
                            <option :selected="elevatorData.dragType == '交流双速'">交流双速</option>
                            <option :selected="elevatorData.dragType == '调压调速'">调压调速</option>
                            <option :selected="elevatorData.dragType == '变频'">变频</option>
                            <option :selected="elevatorData.dragType == '其他'">其他</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">电梯状态</label>
                    <div class="layui-input-block" style="width: 245px">
                        <select name="status">
                            <option value="1" :selected="elevatorData.status == '1'">正常</option>
                            <option value="2" :selected="elevatorData.status == '2'">停用</option>
                            <option value="3" :selected="elevatorData.status == '3'">调试</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">电梯检验机构</label>
                    <div class="layui-input-block" style="width: 245px">
                        <input type="text" name="inspectUnitName" :value="elevatorData.inspectUnitName" required lay-verify="required" placeholder="请输入电梯检验机构"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea name="mark" :value="elevatorData.mark"  inspectUnitName placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="add_elevator" style="margin: 0 40%">
                        立即提交
                    </button>
                    <button type="button" onclick="debugForm()">
                        debug
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="../websource/js/jquery-3.3.1.js" type="text/javascript" charset="utf-8"></script>
<script src="../websource/js/monitor_platform_js/config.js"></script>
<script src="http://api.map.baidu.com/api?v=2.0&ak=3b55d902d2eb9763e7a76a40a2bfa0bf" type="text/javascript"></script>
<script type="text/javascript" src="../websource/js/mask.min.js"></script>
<script src="../websource/js/vue.js"></script>
<script src="../websource/js/layui/layui.all.js" type="text/javascript" charset="utf-8"></script>
<script src="../websource/js/city.js"></script>
<script src="../websource/js/public.js" type="text/javascript" charset="utf-8"></script>
<script>
    layui.use(["form", "layer", "laydate"], function () {
        var form = layui.form, layer = layui.layer, laydate = layui.laydate;
        var  map;
        var pageType = getQueryVariable("pageType"),elevatorID = getQueryVariable("elevatorID");
        var elevator_form = new Vue({
            el: "#elevator_form",
            data: {
                elevatorData:[],
                extPhone:[]
            },
            mounted() {
                this.$nextTick(function () {

                });
                 map = set_map({
                    elem: "map",
                    position: true,
                    size: 17,
                    scroll: true,
                    click_getPoint:true,
                    point_value:function (pt) {
                        $("#lng").val(pt.lng);
                        $("#lat").val(pt.lat)
                    }
                });
                form.render();

            },
            updated:function () {
                this.$nextTick(function () {
                    $("#add_extPhone").click(function () {
                        var addInput = new FormItem('inline');
                        var input = addInput.addInput({
                            'class':'layui-input',
                            'placeholder':'请输入额外推送号码',
                            'lay-verify':'phone',
                        },'')

                        $("#extPhoneGroup").append(input)
                    });


                })


                form.render()
            },
            methods:{
                deleteBnt:function () {
                    var index = $("#extPhoneGroup").children().length;
                    $("#extPhoneGroup").children()[index-1].remove();
                }
            }
        });

        if(pageType === 'editPage'){
            $.ajax({
                url:request_url+"tbElev/editPageDetail",
                data:{
                    pageType:"elevDetailPage",
                    id:elevatorID
                },
                success:function (res) {
                    if(res.success){
                        var data = res.obj.elev;
                        elevator_form.$set(elevator_form.$data,"elevatorData",data);
                        if(data.pushPhone.length>0){
                            elevator_form.$set(elevator_form.$data,"extPhone",data.pushPhone.split(","));
                        }else{
                            elevator_form.$set(elevator_form.$data,"extPhone",[""]);
                        }

                        set_city_select("#province", "province", "请选择省",'',data.areaCode.substring(0,2)+"0000");
                        set_city_select("#city", "city", "请选择市", data.areaCode.substring(0,2)+"0000",data.areaCode.substring(0,4)+"00");
                        set_city_select("#district", "district", "请选择区", data.areaCode.substring(0,4)+"00",data.areaCode.substring(0,6));
                        set_map_core(data.longitude,data.latitude,map,17)
                    }else{
                        layer.alert(res.msg)
                    }
                }
            })
        }


        set_city_select("#province", "province", "请选择省");
        form.on("select(province)", function (obj) {
            if (obj.value === '110000' || obj.value === '120000' || obj.value === '310000' || obj.value === '500000') {
                $("#district").attr("disabled", "disabled")
            } else {
                $("#district").removeAttr("disabled");
            }
            set_city_select("#city", "city", "请选择市", obj.value);
        });

        form.on("select(city)", function (obj) {
            set_city_select("#district", "district", "请选择区", obj.value);
        });

        laydate.render({
            elem: "#validity_period"
        });
        laydate.render({
            elem: '#reformTime'
        });
        laydate.render({
            elem: "#inspectTime"
        });
        laydate.render({
            elem: "#serviceTime"
        });


        form.on("submit(add_elevator)",function (obj) {
            var porvince = $("#province").val(), city = $("#city").val(),district = $("#district").val();
            var areaCode = district?district:city?city:porvince,
                extPhoneGroup = $("#extPhoneGroup").find("input"),
                extPhone = [];
            for(var j=0;j<extPhoneGroup.length;j++){
                extPhone.push(extPhoneGroup[j].value)
            };
            $.extend(obj.field,{'extPhone':extPhone.join(",")});
            $.extend(obj.field,{'areaCode':areaCode});
            if(pageType == "editPage"){
                $.extend(obj.field,{'pageType':'editPage',"id":elevatorID});
            }else{
                $.extend(obj.field,{'pageType':'addPage'});
            }

            console.table(obj.field);
            $.ajax({
                url:request_url_json+'tbElev/edit',
                data:obj.field,
                success:function (res) {
                    if(res.success){
                        layer.alert(pageType == 'editPage'?'编辑成功':'添加成功');
                    }else{
                        layer.alert(res.msg)
                    }
                }
            })

            return false;
        });
        
        
        $("#add_extPhone").click(function () {
            var addInput = new FormItem('inline');
            var input = addInput.addInput({
                'class':'layui-input',
                'placeholder':'请输入额外推送号码',
                'lay-verify':'phone',
            },'')

            $("#extPhoneGroup").append(input)
        });



    });



    function useList(e) {
        var inpputID = e.parentNode.previousSibling.previousElementSibling.childNodes[0].getAttribute("id");
        console.log(inpputID);
        layer.open({
            type: 2,
            title: "选择单位",
            area: ['80%', '80%'],
            shade: [0.8, '#393D49'],
            content: "useList.html?listType="+e.getAttribute("dataType")+"&inpputID="+inpputID,
        });
    }

</script>
</body>
</html>