.header_1 div:nth-child(1){
    float: left;
    background: url("../../websource/img/monitor_platform/logo/logo.png") no-repeat;
    width: 264px;
    height:40px ;
}

.header_1 div:nth-child(2){
    float: right;

}

.header_1{
    width: 100%;
    background: #0C0C0C;
    padding: 15px 10px;
}

.header_1:after{
    content: '';
    clear: both;
}

.menus_box{
    border-radius:47px ;
    overflow: hidden;
    margin: 20px 0;
    box-shadow: rgba(0,0,0,0.5) 0px 3px 5px;
    border: 1px solid #d2d2d2;
}
#menus{
    padding: 0 50px;
}

.layui-layout-right{
    right: 47px;
}
#_date{
    line-height: 40px;
}

.layui-header,.layui-nav{
    background: #239fd7;
}

.footer{
    padding: 24px;
}

.layui-nav .layui-nav-item .layui-nav-child a{
    color: #444;
    font-size: 14px;
}

.threeNav{
    position: absolute;
    top:-5px;
    left: 100%;
    text-align: center;
    background: white;
    padding: 5px 0;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .12);
    border-radius: 2px;
}
.threeNav a{
    padding: 0 20px;

}

#menus .layui-icon-triangle-r,#menus .layui-icon-triangle-d{
    position: absolute;
    top: 0;
    right: 5px
}

.layui-nav .layui-this a {
    color: #fff;
    background: none;
}

.layui-table th div span{
    color: #336391!important;
}

.content{
    padding-top: 40px;
}

.layui-form-label{
    width: 150px;
}